body{
    margin: 0px;
    text-align: center;
    font-family:  Geneva, sans-serif;
   background-color: #eaf6f6;
}

h2{
    color: #66bfbf;
    margin: 0;
    font-size: 3rem;
}

h3{
    font-size: 1.5rem;
    color: #11999E;
}

hr{
    width: 5%;
    border: dotted #cdc5cf 8px;
    border-bottom: none;
    margin: 50px auto;;
    
}

p{
    line-height: 2;
    color: #40514e;
}

.bottom-container{
    margin-top: 50px;
    background-color: #66bfbf;
    padding: 2rem;
}

.btn{
    background-color: #66bfbf;
    padding: 10px 20px ;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight:bold;
    text-decoration: none;
}

.btn:hover {
    background: rgba(17, 153, 158, 1)
}

.contact-me{
    width: 50%;
    margin: auto;
}

.contact-p{
    padding-bottom: 1rem;
    color: #66bfbf;
}

.copyright{
    color: #eaf6f6;
    font-size: small;
    margin-bottom: 0;

}

.footer-link{
    color: #11999E;
    text-decoration: none;
    margin: 1rem 2rem;
    padding-top: 0.8rem;
}

.footer-link:hover{
    color: #eaf6f6;
}

.gif1{
    float: left;
    width: 25%;
    margin-right: 20px;
    padding: 0px;
}

.gif2{
    float: right;
    height: 30%;
    width: 30%;
    
}

.intro{
    width: 30%;
    margin: auto;
}

.skill-row{
    width: 50%;
    margin:auto;
    text-align: left;
    padding-bottom: 100px;
    
}

.tc-h1{
    margin: auto;
    padding-top: 400px;
    font-size: 60px;
    color: black;
}

.tc-p{
    margin-top: -0.3rem;
    font-size: larger;
}

.top-container{
    height: 56rem;
    width: 100%;
    text-align: center;
    background-image: url("../Images/C1-bg.jpg");
    background-size: 100%;
    margin-bottom: 2rem;
    display: flex;
    align-item: center;
    justify-content: center;
    background-repeat: no-repeat;
}    

